[submodule "vim/.vim/bundle/command-t"]
	path = vim/.vim/bundle/command-t
	url = https://github.com/wincent/Command-T
[submodule "vim/.vim/bundle/syntastic"]
	path = vim/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "vim/.vim/bundle/vim-airline"]
	path = vim/.vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim/.vim/bundle/snipmate"]
	path = vim/.vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim
